In [ ]:
print('Ola mundo')


print

Ola mundo

In [ ]:
print ('hugo')

hugo

In [ ]:
nome = input('Escreva seu nome:')

Escreva seu nome:hugo

In [ ]:
nome

'hugo'

In [ ]:
ano_entrada = input('Escreva o ano de ingresso do(a) estudante:')

Escreva o ano de ingresso do(a) estudante:2023

In [ ]:
type(ano_entrada)

str

In [ ]:
ano_entrada = int(input('Escreva o ano de ingresso do(a) estudante:'))

Escreva o ano de ingresso do(a) estudante:2023

In [ ]:
type(ano_entrada)

int

In [ ]:
nota_entrada =float(input('Digite a nota do teste de ingresso:'))
print(f'Ano de entrada {ano_entrada} - nota do teste de ingresso {nota_entrada}')

Digite a nota do teste de ingresso:9.0
Ano de entrada 2023 - nota do teste de ingresso 9.0

In [ ]:
contador = 0
while contador < 5:
  print("contador:", contador)
  contador +=1

contador: 0
contador: 1
contador: 2
contador: 3
contador: 4

In [ ]:
for contador in range(1,11):
  print(contador)

1
2
3
4
5
6
7
8
9
10

In [ ]:
contador = 1
while contador <= 3:
  nota_1 = float(input('Digite a 1° nota: '))
  nota_2 = float(input('Digite a 2° nota: '))

  print(f'Média: {(nota_1+nota_2)/2}')
  contador += 1

Digite a 1° nota: 1
Digite a 2° nota: 5
Média: 3.0
Digite a 1° nota: 5
Digite a 2° nota: 8
Média: 6.5
Digite a 1° nota: 8
Digite a 2° nota: 9
Média: 8.5

In [ ]:
for contador in range(1,4):
  nota_1 = float(input('Digite a 1° nota: '))
  nota_2 = float(input('Digite a 2° nota: '))

  print(f'Média: {(nota_1+nota_2)/2}')

Digite a 1° nota: 4
Digite a 2° nota: 7
Média: 5.5
Digite a 1° nota: 8
Digite a 2° nota: 9
Média: 8.5
Digite a 1° nota: 1
Digite a 2° nota: 4
Média: 2.5

In [ ]:
for i in range(1,6):
    if i == 4:
        continue
    print(i)

1
2
3
5

In [ ]:
#             [0]          [1]  [2] [3] [4]

lista = ['fabricio Daniel',9.5,9.0,9.0,True]
lista

['fabricio Daniel', 9.5, 9.0, 9.0, True]

In [ ]:
#             [0]          [1]  [2] [3] [4]
lista = ['fabricio Daniel',9.5,9.0,9.0,True]

como coletamos os dados através dos indices.Colocando o indice a ser selecionado

In [ ]:
lista [0]

'fabricio Daniel'

In [ ]:
lista[1]

9.5

In [ ]:
lista[-1]

True

Uma forma mais dinamica de trabalhar item por item da lista é utilizando um laço for para leitura de elemento

In [ ]:
for elemento in lista:
  print(elemento)

fabricio Daniel
9.5
9.0
9.0
True

a nota 8.0 de Fabricio Daniel precisa ser ajustada pois ganhou 2 pontos em sua ultima nota por fazer um trabalho de turma.Então é necessaria fazer uma troca no valor do indice 3 de 8.0 para 10.0

In [ ]:
lista [3] = 10.0
lista

['fabricio Daniel', 9.5, 9.0, 10.0, True]

In [ ]:
media = (lista[1] + lista[2] + lista[3])/3
media

9.5

In [ ]:
['Fabricio Daniel', 9.5, 9.0, 10.0, True]

['Fabricio Daniel', 9.5, 9.0, 10.0, True]

In [ ]:
#             [0]          [1]  [2] [3] [4]
lista = ['fabricio Daniel',9.5,9.0,10.0,True]

In [ ]:
len(lista)

5

In [ ]:
lista[1:4]

[9.5, 9.0, 10.0]

In [ ]:
lista[1:3]

[9.5, 9.0]

In [ ]:
lista[3:]

[10.0, True]

In [ ]:
lista[:3]

['fabricio Daniel', 9.5, 9.0]

In [ ]:
lista[:]

['fabricio Daniel', 9.5, 9.0, 10.0, True]

In [ ]:
lista.append('media')
lista

['fabricio Daniel', 9.5, 9.0, 10.0, True, 'media']

In [ ]:
lista.extend([10.0,8.0,9.0])
lista

['fabricio Daniel', 9.5, 9.0, 10.0, True, 'media', 10.0, 8.0, 9.0]

In [ ]:
lista.append([10.0,8.0,9.0])
lista

['fabricio Daniel',
 9.5,
 9.0,
 10.0,
 True,
 'media',
 10.0,
 8.0,
 9.0,
 [10.0, 8.0, 9.0],
 [10.0, 8.0, 9.0]]

In [ ]:
lista.remove([10.0,8.0,9.0])
lista

['fabricio Daniel', 9.5, 9.0, 10.0, True, 'media', 10.0, 8.0, 9.0]

In [ ]:
dicionario = {'chave_1':1,
              'chave_2':2}
dicionario

{'chave_1': 1, 'chave_2': 2}

In [ ]:
cadastro = {'matricula': 2000168933,
            'dia_cadastro': 25,
            'mes_cadastro': 10,
            'turma': '2E'}
cadastro

{'matricula': 2000168933,
 'dia_cadastro': 25,
 'mes_cadastro': 10,
 'turma': '2E'}

In [ ]:
cadastro['matricula']

2000168933

In [ ]:
cadastro['turma']

'2E'

In [ ]:
cadastro['mes_cadastro']

10

In [ ]:
cadastro['dia_cadastro']

25

In [ ]:
cadastro['turma'] = '2G'
cadastro

{'matricula': 2000168933,
 'dia_cadastro': 25,
 'mes_cadastro': 10,
 'turma': '2G'}

In [ ]:
cadastro['modalidade'] = 'EAD'
cadastro

{'matricula': 2000168933,
 'dia_cadastro': 25,
 'mes_cadastro': 10,
 'turma': '2G',
 'modalidade': 'EAD'}

In [ ]:
cadastro.pop('turma')

'2G'

In [ ]:
cadastro

{'matricula': 2000168933,
 'dia_cadastro': 25,
 'mes_cadastro': 10,
 'modalidade': 'EAD'}

In [ ]:
cadastro.items()

dict_items([('matricula', 2000168933), ('dia_cadastro', 25), ('mes_cadastro', 10), ('modalidade', 'EAD')])

In [ ]:
cadastro.keys()

dict_keys(['matricula', 'dia_cadastro', 'mes_cadastro', 'modalidade'])

In [ ]:
cadastro.values()

dict_values([2000168933, 25, 10, 'EAD'])

In [ ]:
for chaves in cadastro.keys():
 print(cadastro[chaves])

2000168933
25
10
EAD

In [ ]:
for valores in cadastro.values():
 print(valores)

2000168933
25
10
EAD

In [ ]:
for chaves, valores in cadastro.items():
 print(chaves,valores)

matricula 2000168933
dia_cadastro 25
mes_cadastro 10
modalidade EAD

In [ ]:
help(print)

Help on built-in function print in module builtins:

print(*args, sep=' ', end='\n', file=None, flush=False)
    Prints the values to a stream, or to sys.stdout by default.

    sep
      string inserted between values, default a space.
    end
      string appended after the last value, default a newline.
    file
      a file-like object (stream); defaults to the current sys.stdout.
    flush
      whether to forcibly flush the stream.

In [ ]:
precos = [100.0, 400.0, 200.0]
soma = sum(precos)
soma

700.0

In [ ]:
lista = [1,2,3]
dir(lista)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [ ]:
#notas do(a) estudantes
notas=[8.5,8.0,6.0,10.0]

In [ ]:
def media(lista):
  calculo = sum(lista) / len(lista)
  return calculo

In [ ]:
resultado = media(notas)

In [ ]:
resultado

8.125

In [ ]:
def boletim(lista):
  media = sum(lista) / len(lista)
  if media >=6:
    situação = "Aprovado(a)"

  else:
   situação = "Reprovado(a)"

  return (media,situação)

In [ ]:
boletim(notas)

(8.125, 'Aprovado(a)')

In [ ]:
media,situação = boletim(notas)

In [ ]:
media

8.125

In [ ]:
situação

'Aprovado(a)'

In [ ]:
print(f'O(a) estudante atingiu uma média de {media} e foi {situação}.')

O(a) estudante atingiu uma média de 8.125 e foi Aprovado(a).

In [ ]:
#Comparando uma função de qualitativo no formado de função  para função anonima
nota = float(input("Digite a nota do(a) estudante: "))

def qualitativo(x):
  return x + 0.5

  qualitativo (nota)

Digite a nota do(a) estudante: 8

In [ ]:
#Testando a mesma função para uma função lambda
nota = float(input("Digite a nota do(a) estudante:"))

qualitativo = lambda x: x + 0.5

qualitativo(nota)

Digite a nota do(a) estudante:8

8.5

In [ ]:
#Recebendo as notas e calculando a média poderavel
N1 = float(input("Digite a 1° nota do(a) estudante:"))
N2 = float(input("Digite a 2° nota do(a) estudante:"))
N3 = float(input("Digite a 3° nota do(a) estudante:"))

media_ponderavel = lambda x,y,z: (x* 3 + y * 2 + z * 5)/10
media_estudante = media_ponderavel(N1,N2,N3)
media_estudante

Digite a 1° nota do(a) estudante:8
Digite a 2° nota do(a) estudante:5
Digite a 3° nota do(a) estudante:9

7.9

In [ ]:
#Exibindo a media
print(f'O(a) estudante atingiu uma media de {media_estudante}')

O(a) estudante atingiu uma media de 7.9

In [ ]:
#Notas do(a) estudante
notas = [6.0,7.0,9.0,5.5,8.0]
qualitativo = 0.5

In [ ]:
notas_atualizadas = lambda x: x + qualitativo
notas_atualizadas(notas)

TypeError: can only concatenate list (not "float") to list

In [ ]:
#Não conseguimos aplicar o lambda em listad direto, é necessario
#Utiilizarmos junto a ela a função map
notas_atualizadas = map(lambda x: x + qualitativo, notas)
notas_atualizadas

In [ ]:
notas_atualizadas = list(notas_atualizadas)

In [ ]:
notas_atualizadas

NameError: name 'notas_atualizadas' is not defined

In [ ]:
notas

[]

In [ ]:
notas_turma = ['João', 8.0, 9.0, 10.0, 'Maria', 9.0, 7.0, 6.0, 'José', 3.4, 7.0, 7.0, 'Cláudia', 5.5, 6.6, 8.0, 'Ana', 6.0, 10.0, 9.5]

In [ ]:
nomes = []
nomes = []
notas_juntas = []

for i in range(len(notas_turma)):
  pass

In [ ]:
nomes = []
notas_juntas = []

for i in range(len(notas_turma)):
  if i % 4 ==0:
     nomes.append(notas_turma[i])

In [ ]:
nomes = []
notas_juntas = []

for i in range(len(notas_turma)):
  if i % 4 ==0:
      nomes.append(notas_turma[i])
  else:
      notas_juntas.append(notas_turma[i])

In [ ]:
nomes

['João', 'Maria', 'José', 'Claudia', 'Ana']

In [ ]:
notas_juntas

[8.0, 9.0, 10.0, 9.0, 7.0, 6.0, 3.4, 7.0, 7.0, 5.5, 6.6, 8.0, 6.0, 10.0, 9.5]

In [ ]:
notas = []

for i in range(0, len(notas_juntas),3):
  notas.append([notas_juntas[i], notas_juntas[i+1], notas_juntas[i+2]])
notas

[[8.0, 9.0, 10.0],
 [9.0, 7.0, 6.0],
 [3.4, 7.0, 7.0],
 [5.5, 6.6, 8.0],
 [6.0, 10.0, 9.5]]

In [ ]:
notas[0]

[8.0, 9.0, 10.0]

In [ ]:
notas[0][2]

10.0

In [ ]:
cadastro = ("Júlia", 23, "São Paulo", "SP", "Python para DS 1")

In [ ]:
print(cadastro[0]) # imprime Júlia
print(cadastro[-1]) # imprime Python para DS 1

Júlia
Python para DS 1

In [ ]:
nome, idade, cidade, estado, turma = cadastro
print(f'A estudante {nome} tem {idade} anos e mora em {cidade}. Ela está matriculada na turma de {turma}.')

A estudante Júlia tem 23 anos e mora em São Paulo. Ela está matriculada na turma de Python para DS 1.

In [ ]:
estudantes = ["João","Maria","José","Claudia","Ana"]
estudantes

['João', 'Maria', 'José', 'Claudia', 'Ana']

In [ ]:
from random import randint

def gera_codigo():
  return str(randint(0,999))

In [ ]:
codigo_estudantes = []

for i in range(len(estudantes)):
  codigo_estudantes.append((estudantes[i], estudantes[i][0] + gera_codigo()))
codigo_estudantes

[('João', 'J561'),
 ('Maria', 'M13'),
 ('José', 'J302'),
 ('Claudia', 'C519'),
 ('Ana', 'A483')]

listas de listas,cada uma delas vai conter tres elementos

In [ ]:
notas = [[8.0,9.0,10.0],[9.0,7.0,6.0],[3.4,7.0,7.0],[5.5,6.6,8.0],[6.0,10.0,9.5]]

In [ ]:
def media(lista: list=[0]) -> float:
  ''' Função para calcular a média de notas passadas por uma lista

  lista: list, default [0]
    Lista com as notas para calcular a média
  return = calculo: float
    Média calculada
  '''

  calculo = sum(lista) / len(lista)

  return calculo

In [ ]:
media = [round(media(nota),1) for nota  in notas]
media

[9.0, 7.3, 5.8, 6.7, 8.5]

Agora precisamos utilizar as medias calculadas no exemplo anterior,pareando com os nomes dos estudantes,isto irá gerar uma lista que selecione aqueles estudantes que possuam uma media final maior ou igual a 8npara concorrer a uma bolsa para o proximo no letivo.OS dados recebidos correspondem a uma lista de tuplas com os noes e codigos dos estudantes e a lista das medias calculadas logio acima..

In [ ]:
nomes = [('João', 'J561'),('Maria', 'M13'),('José', 'J302'),('Claudia', 'C519'),('Ana', 'A483')]
medias= [9.0, 7.3 , 5.8, 6.7, 8.5]

In [ ]:
#Gerando a lista de nomes(extraindo da tupla)
nomes = [nome[0] for nome in nomes]
nomes

['João', 'Maria', 'José', 'Claudia', 'Ana']

Para conseguirmos parear as medias e nomes facilmente,podemos recorrer a mais uma built-in function: zip()

In [ ]:
estudantes = list(zip(nomes,medias))
estudantes

[('João', 9.0), ('Maria', 7.3), ('José', 5.8), ('Claudia', 6.7), ('Ana', 8.5)]

In [ ]:
#Gerando a lista de pessoas candidatas a bolsa
candidatos = [estudante[0] for estudante in  estudantes if estudante[1] >=8.0]
candidatos

['João', 'Ana']

Criar uma lista da situação dos estudantes em que caso sua média seja maior ou igual a 6 receberá o valor "Aprovado" e caso contrário receberá o valor "Reprovado".

Gerar uma lista de listas com:

Lista de tuplas com o nome dos estudantes e seus códigos.

Lista de listas com as notas de cada estudante.

Lista com as médias de cada estudante.

Lista da situação dos estudantes de acordo com as médias.

Os dados que utilizaremos são os mesmos que geramos nas situações anteriores (nomes, notas, medias).

Para lista das situações utilize o formato:

[resultado_if if cond else resultado _else for item in lista]

In [ ]:
nomes = [('João', 'J561'),('Maria', 'M13'),('José', 'J302'),('Claudia', 'C519'),('Ana', 'A483')]
notas = [[8.0, 9.0, 10.0], [9.0, 7.0, 6.0], [3.4, 7.0, 7.0], [5.5, 6.6, 8.0], [6.0, 10.0, 9.5]]
medias = [9.0, 7.3, 5.8, 6.7, 8.5]

In [ ]:
situação = ["Aprovado(a)" if media >=6 else "Reprovado" for media  in medias]
situação

['Aprovado(a)', 'Aprovado(a)', 'Reprovado', 'Aprovado(a)', 'Aprovado(a)']

Para gerar a lista de listas do enunciado podemos utilizar o formato a seguir

[expr for item in lista de listas]

In [ ]:
cadastro = [x for x in [nomes,notas, medias,situação]]
cadastro

[[('João', 'J561'),
  ('Maria', 'M13'),
  ('José', 'J302'),
  ('Claudia', 'C519'),
  ('Ana', 'A483')],
 [[8.0, 9.0, 10.0],
  [9.0, 7.0, 6.0],
  [3.4, 7.0, 7.0],
  [5.5, 6.6, 8.0],
  [6.0, 10.0, 9.5]],
 [9.0, 7.3, 5.8, 6.7, 8.5],
 ['Aprovado(a)', 'Aprovado(a)', 'Reprovado', 'Aprovado(a)', 'Aprovado(a)']]

Podemos recorrer a uma forma mais simples de gerar uma lista de listas, que usar diretamente as variáveis dentro dos colchetes, sem precisar escrever a expressão

[expr for item in lista de listas].

Para isso, vamos escrever, entre colchetes, [nomes, notas, medias, situacao]. Passaremos isso para lista_completa.

In [ ]:
lista_completa = [nomes,notas,medias , situação]
lista_completa

[[('João', 'J561'),
  ('Maria', 'M13'),
  ('José', 'J302'),
  ('Claudia', 'C519'),
  ('Ana', 'A483')],
 [[8.0, 9.0, 10.0],
  [9.0, 7.0, 6.0],
  [3.4, 7.0, 7.0],
  [5.5, 6.6, 8.0],
  [6.0, 10.0, 9.5]],
 [9.0, 7.3, 5.8, 6.7, 8.5],
 ['Aprovado(a)', 'Aprovado(a)', 'Reprovado', 'Aprovado(a)', 'Aprovado(a)']]

In [ ]:
Agora,a nossa demanda consiste em gerar um dicionário a partir da lista de listas
que criamos na Situação 10 para passá-la à pessoa responsável por construir as
tabelas,possibilitando a análise dos dados.

As chaves do nosso dicionário serão as colunas identificando o tipo de dado.

Os valores serão as listas com os dados correspondentes àquela chave.

In [ ]:
lista_completa = [[('João', 'J561'),('Maria', 'M13'),('José', 'J302'),('Claudia', 'C519'),('Ana', 'A483')],
 [[8.0, 9.0, 10.0], [9.0, 7.0, 6.0], [3.4, 7.0, 7.0], [5.5, 6.6, 8.0], [6.0, 10.0, 9.5]],[9.0, 7.3, 5.8, 6.7, 8.5],
                  ['Aprovado', 'Aprovado', 'Reprovado', 'Aprovado', 'Aprovado']]

In [ ]:
#Colunas com os tipos dos dados (exceto nome)
coluna = ["Notas", "Media Final", "Situação"]

cadastro = {coluna[i]:lista_completa[i+1] for i in range(len(coluna))}
cadastro

{'Notas': [[8.0, 9.0, 10.0],
  [9.0, 7.0, 6.0],
  [3.4, 7.0, 7.0],
  [5.5, 6.6, 8.0],
  [6.0, 10.0, 9.5]],
 'Media Final': [9.0, 7.3, 5.8, 6.7, 8.5],
 'Situação': ['Aprovado(a)',
  'Aprovado(a)',
  'Reprovado',
  'Aprovado(a)',
  'Aprovado(a)']}

In [ ]:
#Vamos por fim adicionar o nome dos estudantes, extraindo apenas seus nomes
cadastro["estudante"]  = [lista_completa[0][i][0] for i in range(len(lista_completa[0]))]
cadastro

{'Notas': [[8.0, 9.0, 10.0],
  [9.0, 7.0, 6.0],
  [3.4, 7.0, 7.0],
  [5.5, 6.6, 8.0],
  [6.0, 10.0, 9.5]],
 'Media Final': [9.0, 7.3, 5.8, 6.7, 8.5],
 'Situação': ['Aprovado(a)',
  'Aprovado(a)',
  'Reprovado',
  'Aprovado(a)',
  'Aprovado(a)'],
 'estudante': ['João', 'Maria', 'José', 'Claudia', 'Ana']}

In [ ]:
notas = {'João': [8.0, 9.0, 10.0], 'Maria': [9.0, 7.0, 6.0], 'José': [3.4, 7.0, 8.0],'Cláudia': [5.5, 6.6, 8.0], 'Ana': [6.0, 10.0, 9.5], 'Joaquim': [5.5, 7.5, 9.0], 'Júlia': [6.0, 8.0, 7.0], 'Pedro': [3.0, 4.0, 6.0]}

In [ ]:
nome = input("Digite o nome do(a) estudante: ")
resultado = notas[nome]
resultado

Digite o nome do(a) estudante: Hugo

KeyError: 'Hugo'

In [ ]:
try:
  nome = input("Digite o nome do(a) estudante: ")
  resultado = notas[nome]
except Exception as e:
  print(type(e), f"Erro: {e}")

Digite o nome do(a) estudante: Hugo
<class 'KeyError'> Erro: 'Hugo'

In [ ]:
notas = {'João': [8.0, 9.0, 10.0], 'Maria': [9.0, 7.0, 6.0], 'José': [3.4, 7.0, 8.0],'Cláudia': [5.5, 6.6, 8.0], 'Ana': [6.0, 10.0, 9.5], 'Joaquim': [5.5, 7.5, 9.0], 'Júlia': [6.0, 8.0, 7.0], 'Pedro': [3.0, 4.0, 6.0]}

In [ ]:
try:
  nome = input("Digite o nome do(a) estudante: ")
  resultado = notas[nome]
except KeyError:
  print("Estudante não está matriculado(a) na turma")

Digite o nome do(a) estudante: Hugo
Estudante não está matriculado(a) na turma

In [ ]:
notas = {'João': [8.0, 9.0, 10.0], 'Hugo': [9.0, 7.0, 6.0], 'José': [3.4, 7.0, 8.0],'Cláudia': [5.5, 6.6, 8.0], 'Ana': [6.0, 10.0, 9.5], 'Joaquim': [5.5, 7.5, 9.0], 'Júlia': [6.0, 8.0, 7.0], 'Pedro': [3.0, 4.0, 6.0]}

In [ ]:
try:
    nome = input(" Digite o nome do(a) estudante: ")
    resultado = notas[nome]
except KeyError:
    print("Estudante não está matriculado(a) na turma")
else:
    print(resultado)

 Digite o nome do(a) estudante: Hugo

NameError: name 'notas' is not defined

In [ ]:
#CLAUSULA FINALLY
notas = {'João': [8.0, 9.0, 10.0], 'Maria': [9.0, 7.0, 6.0], 'José': [3.4, 7.0, 8.0],'Cláudia': [5.5, 6.6, 8.0], 'Ana': [6.0, 10.0, 9.5], 'Joaquim': [5.5, 7.5, 9.0], 'Júlia': [6.0, 8.0, 7.0], 'Pedro': [3.0, 4.0, 6.0]}

In [ ]:
try:
    nome = input("Digite o nome do(a) estudante: ")
    resultado = notas[nome]
except KeyError:
    print("Estudante não matriculado(a) na turma")
else:
    print(resultado)
finally:
    print("A consulta foi encerrada!")

Digite o nome do(a) estudante: Hugo
Estudante não matriculado(a) na turma
A consulta foi encerrada!

In [ ]:
# RAISE A estruturação é a seguinte:
'''raise ValueError("A lista de notas deve possuir dez elementos"
)'''

In [ ]:
def media(lista: list = [0]) -> float:
    '''
    Função para calcular a média de notas passadas por uma lista

    lista: list, default [0]
        Lista com as notas para calcular a média

    return: float
        Média calculada
    '''
    if len(lista) > 4:
        raise ValueError("A lista não pode possuir mais de 4 notas.")

    calculo = sum(lista) / len(lista)
    return calculo

In [ ]:
notas = [6,7,8,8]
resultado = media (notas)
resultado

7.25

In [ ]:
notas = [6,7,8,8,9]
resultado = media (notas)
resultado

ValueError: A lista não pode possuir mais de 4 notas.

In [ ]:
notas = [6,7,8,8,"8"]
resultado = media (notas)
resultado

ValueError: A lista não pode possuir mais de 4 notas.

In [ ]:
try:
    notas = [6, 7, 8, 8, 9]
    resultado = media(notas)
except TypeError:
    print("Não foi possível calcular a média do(a) estudante. Só são aceitos valores numéricos!")
except ValueError as e:
    print(e)
else:
    print(resultado)
finally:
    print("A consulta foi encerrada!")

A lista não pode possuir mais de 4 notas.
A consulta foi encerrada!

In [ ]:
try:
    notas = [6, 7, 8,  "9"]
    resultado = media(notas)
except TypeError:
    print("Não foi possível calcular a média do(a) estudante. Só são aceitos valores numéricos!")
except ValueError as e:
    print(e)
else:
    print(resultado)
finally:
    print("A consulta foi encerrada!")

Não foi possível calcular a média do(a) estudante. Só são aceitos valores numéricos!
A consulta foi encerrada!

Atividades de trabalhos desenvolvidos em cursos

In [ ]:
#Crie um programa que leia a seguinte lista de números e escolha um número desta aleatoriamente.
lista = [8, 12, 54, 23, 43, 1, 90, 87, 105, 77]

In [ ]:
from random import choice
lista = [8, 12, 54, 23, 43, 1, 90, 87, 105, 77]
print(f"Número escolhido: {choice(lista)}")

Número escolhido: 87

In [ ]:
#Crie um programa que sorteia, aleatoriamente, um número inteiro positivo menor que 100.
#Dica: use a função randrange() da biblioteca random. Essa função recebe como parâmetro o valor limite para a escolha aleatória ou um intervalo se passado o limite mínimo e máximo. Por exemplo, randrange(5) gera valores inteiros menores que 5.

In [ ]:
from random import randrange
randrange(100)

20

In [ ]:
#Crie um programa que solicite à pessoa usuária digitar dois números inteiros e calcular a potência do 1º número elevado ao 2º.
#Dica: use a função pow() da biblioteca math

In [ ]:
from math import pow
base = int(input("Digite a base da potência: "))
expoente = int(input("Digite o expoente da potência: "))
print(f"{base} elevado a {expoente} é igual a {pow(base, expoente)}")

Digite a base da potência: 12
Digite o expoente da potência: 2
12 elevado a 2 é igual a 144.0

In [ ]:
# 6. Um programa deve ser escrito para sortear uma pessoa seguidora de uma rede social para ganhar um prêmio. A lista de participantes é numerada e devemos escolher aleatoriamente um número de acordo com a quantidade de participantes. Peça à pessoa usuária para fornecer o número de participantes do sorteio e devolva para ela o número sorteado.
from random import randint
# Transformando a quantidade de participantes de string para inteiro
n = int(input("Digite o nº de participantes do sorteio: "))
# Sorteando um número no intervalo de 1 até a quantidade de participantes
print(f"O número sorteado foi {randint(1, n)}")

Digite o nº de participantes do sorteio: 17000
O número sorteado foi 13747

In [ ]:
#Você recebeu uma demanda para gerar números de token para acessar o aplicativo de uma empresa. O token precisa ser par e variar de 1000 até 9998. Escreva um código que solicita à pessoa usuária o seu nome e exibe uma mensagem junto a esse token gerado aleatoriamente.
#"Olá, [nome], o seu token de acesso é [token]! Seja bem-vindo(a)!"
from random import randrange
nome = input("Qual o seu nome? ")
# Gerando um token par de 1000 a 9998. O randrange tem o intervalo aberto em 10000, ou seja,
# não considera 10000 como opção de escolha (token >= 1000 e token < 10000)
token = randrange(1000, 10000, 2)

print(f"Olá, {nome}, o seu token de acesso é {token}! Seja bem-vindo(a)!")

Qual o seu nome? hugo
Olá, hugo, o seu token de acesso é 1604! Seja bem-vindo(a)!

In [ ]:
# 8. Para diversificar e atrair novos(as) clientes, uma lanchonete criou um item misterioso em seu cardápio chamado "salada de frutas surpresa". Neste item, são escolhidas aleatoriamente 3 frutas de uma lista de 12 para compor a salada de frutas da pessoa cliente. Crie o código que faça essa seleção aleatória de acordo com a lista abaixo:
#frutas = ["maçã", "banana", "uva", "pêra",  "manga", "coco", "melancia", "mamão","laranja", "abacaxi", "kiwi", "ameixa"]
from random import choices
# Lista das frutas disponíveis
frutas = ["maçã", "banana", "uva", "pêra","manga", "coco",
          "melancia", "mamão", "laranja", "abacaxi", "kiwi", "ameixa"]
# Gerando uma lista com a escolha aleatoria de 3 frutas
salada = choices(frutas, k=3)
# Imprimindo os itens da lista de frutas gerada
print(f"A salada surpresa é: {salada[0]}, {salada[1]} e {salada[2]}")

A salada surpresa é: laranja, abacaxi e manga

In [ ]:
#9. Você recebeu um desafio de calcular a raiz quadrada de uma lista de números, identificando quais resultaram em um número inteiro. A lista é a seguinte:
#numeros = [2, 8, 15, 23, 91, 112, 256]
#No final, informe quais números possuem raízes inteiras e seus respectivos valores.
#Dica: use a comparação entre a divisão inteira (//) da raiz por 1 com o valor da raiz para verificar se o número é inteiro. Por exemplo:
#num = 1.5
#num_2 = 2
#print(f'{num} é inteiro? :', num // 1 == num)
#print(f'{num_2} é inteiro? :', num_2 // 1 == num_2)
#1.5 é inteiro? : False
#2 é inteiro? : True

from math import sqrt

numeros = [2, 8, 15, 23, 91, 112, 256]
# iniciando uma lista vazia para receber as raízes
raiz = []

# laço for para calcular cada raiz da lista de números e adicionar a lista raiz
for numero in numeros:
  raiz.append(sqrt(numero))

# laço for para ler a lista raiz e exibir um texto só quando a raiz for um valor inteiro
for i in range(len(raiz)):
  # condição para testar se um número é inteiro (Ex: 2.5 // 1 = 2 ... 2 != 2.5)
  if raiz[i] // 1 == raiz[i]:
    print(f"O número {numeros[i]} possui raiz quadrada inteira igual a {int(raiz[i])}")

O número 256 possui raiz quadrada inteira igual a 16

In [ ]:
#10. Faça um programa para uma loja que vende grama para jardins. Essa loja trabalha com jardins circulares e o preço do metro quadrado da grama é de R$ 25,00. Peça à pessoa usuária o raio da área circular e devolva o valor em reais do quanto precisará pagar.
#Dica: use a variável pi e o método pow() da biblioteca math. O cálculo da área de um círculo é de: A = π*r^2 (lê-se pi vezes raio ao quadrado).
# importando 2 métodos da mesma biblioteca
from math import pi, pow

raio = float(input("Digite o raio da área circular em metros: "))
# Cálculo da área com os métodos da math e obtenção do custo em reais
area = pi*pow(raio,2)
valor = area * 25.00

# Exibição do cálculo e custo na tela. O round(n,2) arredonda qualquer número em 2 casas decimais
print(f"Você precisará pagar R$ {round(valor,2)} por uma área de {round(area,2)} metros de grama")

Digite o raio da área circular em metros: 12.00
Você precisará pagar R$ 11309.73 por uma área de 452.39 metros de grama